table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50pt;

  /* Disable text highlight */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

td:hover {
  cursor: pointer;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  margin-top: 10px;
  text-align: center;
}

#btnPlay {
  background-color: blue;
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20pt;
}

#btnPlay[disabled] {
  background-color: blue;
  cursor: default;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20pt;
  opacity: 0.5;
}
